In [1]:
#1. start a spark session
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("spark_dataframes").getOrCreate()

In [2]:
#2. load a csv file and infer the datatypes......and what does the schema look like?
df = spark.read.csv("D:\\Udemy course\\Spark\\Datasets\\train.csv", inferSchema=True, header=True)
df.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- datetime: timestamp (nullable = true)
 |-- temperature: double (nullable = true)
 |-- var1: double (nullable = true)
 |-- pressure: double (nullable = true)
 |-- windspeed: double (nullable = true)
 |-- var2: string (nullable = true)
 |-- electricity_consumption: double (nullable = true)

In [3]:
#3. What are the column names?
df.columns

['ID',
 'datetime',
 'temperature',
 'var1',
 'pressure',
 'windspeed',
 'var2',
 'electricity_consumption']

In [4]:
#4. print out first 5 rows......
df.head(5)

[Row(ID=0, datetime=datetime.datetime(2013, 7, 1, 0, 0), temperature=-11.4, var1=-17.1, pressure=1003.0, windspeed=571.91, var2='A', electricity_consumption=216.0),
 Row(ID=1, datetime=datetime.datetime(2013, 7, 1, 1, 0), temperature=-12.1, var1=-19.3, pressure=996.0, windspeed=575.04, var2='A', electricity_consumption=210.0),
 Row(ID=2, datetime=datetime.datetime(2013, 7, 1, 2, 0), temperature=-12.9, var1=-20.0, pressure=1000.0, windspeed=578.435, var2='A', electricity_consumption=225.0),
 Row(ID=3, datetime=datetime.datetime(2013, 7, 1, 3, 0), temperature=-11.4, var1=-17.1, pressure=995.0, windspeed=582.58, var2='A', electricity_consumption=216.0),
 Row(ID=4, datetime=datetime.datetime(2013, 7, 1, 4, 0), temperature=-11.4, var1=-19.3, pressure=1005.0, windspeed=586.6, var2='A', electricity_consumption=222.0)]

In [5]:
#5. print out first 5 columns......
df.select(['ID','datetime','temperature','var1','pressure']).show()

+---+--------------------+-----------+-----+--------+
| ID|            datetime|temperature| var1|pressure|
+---+--------------------+-----------+-----+--------+
|  0|2013-07-01 00:00:...|      -11.4|-17.1|  1003.0|
|  1|2013-07-01 01:00:...|      -12.1|-19.3|   996.0|
|  2|2013-07-01 02:00:...|      -12.9|-20.0|  1000.0|
|  3|2013-07-01 03:00:...|      -11.4|-17.1|   995.0|
|  4|2013-07-01 04:00:...|      -11.4|-19.3|  1005.0|
|  5|2013-07-01 05:00:...|      -10.7|-19.3|  1013.0|
|  6|2013-07-01 06:00:...|      -13.6|-17.1|  1006.0|
|  7|2013-07-01 07:00:...|      -11.4|-17.9|   997.0|
|  8|2013-07-01 08:00:...|      -10.7|-18.6|  1012.0|
|  9|2013-07-01 09:00:...|      -10.0|-16.4|  1002.0|
| 10|2013-07-01 10:00:...|       -7.1|-17.1|  1008.0|
| 11|2013-07-01 11:00:...|       -7.9|-17.9|  1003.0|
| 12|2013-07-01 12:00:...|       -5.7|-15.0|   998.0|
| 13|2013-07-01 13:00:...|       -6.4|-14.3|  1008.0|
| 14|2013-07-01 14:00:...|       -3.6|-15.0|   999.0|
| 15|2013-07-01 15:00:...|       -5.0|-14.3|   997.0|
| 16|2013-07-01 16:00:...|       -4.3|-16.4|  1009.0|
| 17|2013-07-01 17:00:...|       -7.1|-18.6|  1003.0|
| 18|2013-07-01 18:00:...|       -7.1|-16.4|  1007.0|
| 19|2013-07-01 19:00:...|       -6.4|-16.4|   996.0|
+---+--------------------+-----------+-----+--------+
only showing top 20 rows

In [6]:
#6. print the description of each columns.....
df.describe().show()

+-------+------------------+-----------------+-------------------+-----------------+------------------+-----+-----------------------+
|summary|                ID|      temperature|               var1|         pressure|         windspeed| var2|electricity_consumption|
+-------+------------------+-----------------+-------------------+-----------------+------------------+-----+-----------------------+
|  count|             26496|            26496|              26496|            26496|             26496|26496|                  26496|
|   mean|           17455.5|5.098988526570052|-1.9162326388888922|986.4506151871981|23.959956408517844| null|      298.3596014492754|
| stddev|10122.873672526148|  8.6828603086732|  10.42486026674354|12.00264663833323| 48.28032080686312| null|     108.02055533236155|
|    min|                 0|            -17.1|              -32.9|            953.0|             1.075|    A|                  174.0|
|    max|             34895|             23.6|               18.6|           1024.0|             586.6|    C|                 1386.0|
+-------+------------------+-----------------+-------------------+-----------------+------------------+-----+-----------------------+

In [7]:
#7. print schema of the describe() function..
df.describe().printSchema()

root
 |-- summary: string (nullable = true)
 |-- ID: string (nullable = true)
 |-- temperature: string (nullable = true)
 |-- var1: string (nullable = true)
 |-- pressure: string (nullable = true)
 |-- windspeed: string (nullable = true)
 |-- var2: string (nullable = true)
 |-- electricity_consumption: string (nullable = true)

In [11]:
#8. now change the datatypes from string and format the decimals from the describe table......
from pyspark.sql.functions import format_number
result = df.describe()
result.select(result['summary'],
             format_number(result['temperature'].cast('float'),2).alias('temperature'),
             format_number(result['var1'].cast('float'),2).alias('var1'),
             format_number(result['pressure'].cast('float'),2).alias('pressure'),
             format_number(result['windspeed'].cast('float'),2).alias('windspeed')).show()

+-------+-----------+---------+---------+---------+
|summary|temperature|     var1| pressure|windspeed|
+-------+-----------+---------+---------+---------+
|  count|  26,496.00|26,496.00|26,496.00|26,496.00|
|   mean|       5.10|    -1.92|   986.45|    23.96|
| stddev|       8.68|    10.42|    12.00|    48.28|
|    min|     -17.10|   -32.90|   953.00|     1.08|
|    max|      23.60|    18.60| 1,024.00|   586.60|
+-------+-----------+---------+---------+---------+

In [4]:
#9. select the column 'temperature' and print the mean....and format the decimal points

from pyspark.sql.functions import avg, stddev, format_number

mean_temp = df.agg({'temperature':'mean'})
std_temp = df.agg({'temperature':'std'})
mean_temp.show()
std_temp.show()

+-----------------+
| avg(temperature)|
+-----------------+
|5.098988526570052|
+-----------------+

+-------------------+
|stddev(temperature)|
+-------------------+
|    8.6828603086732|
+-------------------+

In [5]:
#10. change column name and values
mean_temp = mean_temp.select(format_number(mean_temp['avg(temperature)'],2).alias("avg temperature"))
std_temp = std_temp.select(format_number(std_temp['stddev(temperature)'],2).alias("std temperature"))
mean_temp.show()
std_temp.show()

+---------------+
|avg temperature|
+---------------+
|           5.10|
+---------------+

+---------------+
|std temperature|
+---------------+
|           8.68|
+---------------+

In [15]:
#11. create a new dataframe with a column "Ratio": which is the ratio between temperature and windspeed.
df2 = df.withColumn("Ratio", df['temperature']/df['windspeed'])
df2.select(format_number(df2['Ratio'],3).alias("Ratio")).show()

+------+
| Ratio|
+------+
|-0.020|
|-0.021|
|-0.022|
|-0.020|
|-0.019|
|-3.835|
|-3.105|
|-1.493|
|-0.888|
|-0.556|
|-0.308|
|-0.280|
|-0.180|
|-0.180|
|-0.088|
|-0.112|
|-0.089|
|-0.141|
|-0.133|
|-0.114|
+------+
only showing top 20 rows

In [21]:
#12. what day had the highest temperature?
df.orderBy(df['temperature'].desc()).head(2)[0][1] #1st row and 2nd item --> [0][1]

datetime.datetime(2014, 12, 16, 15, 0)

In [26]:
#13. what is the maximum and minimum windspeed?
from pyspark.sql.functions import max, min
max_min = df.select(max('windspeed'), min('windspeed'))
max_min = max_min.select(format_number(max_min['max(windspeed)'],2).alias('max windspeed'),
                         format_number(max_min['min(windspeed)'],2).alias('min windspeed'))
max_min.show()

+-------------+-------------+
|max windspeed|min windspeed|
+-------------+-------------+
|       586.60|         1.07|
+-------------+-------------+

In [33]:
#14. how many days was the temperature above 300?

#Methods
#Method 1. pythonic way 
df.filter(df['temperature'] > 20).count()

214

In [34]:
#Method 2. sql syntax
df.filter('temperature >20').count()

214

In [38]:
#Method 3. 'count' as as function
from pyspark.sql.functions import count
result = df.filter(df['temperature'] > 20)
result.select(count('temperature')).show()

+------------------+
|count(temperature)|
+------------------+
|               214|
+------------------+

In [43]:
#14. what percentage was the pressure greater than 1000?
result = df.filter(df['pressure'] > 1000).count()
result1 = df.count()
(result/result1) * 100

13.745471014492756

In [45]:
# OR
(df.filter(df['pressure'] > 1000).count() / df.count()) * 100

13.745471014492756

In [46]:
#15. what is the correlation between temperature and pressure?
from pyspark.sql.functions import corr
df.select(corr('temperature','pressure')).show()

+---------------------------+
|corr(temperature, pressure)|
+---------------------------+
|        -0.7239385216901104|
+---------------------------+

In [49]:
#16. what is the max temperature per year?
from pyspark.sql.functions import year
new = df.withColumn("year", year(df['datetime']))
new = new.groupBy("year").max()
new.select(['year','max(temperature)']).show()

+----+----------------+
|year|max(temperature)|
+----+----------------+
|2015|            22.1|
|2013|            22.1|
|2014|            23.6|
|2016|            23.6|
|2017|            23.6|
+----+----------------+

In [52]:
#17. what is the average pressure for each month?
from pyspark.sql.functions import month
monthdf = df.withColumn('month', month(df['datetime']))
new = monthdf.groupBy('month').avg()
new = new.select(['month','avg(month)']).show()

+-----+----------+
|month|avg(month)|
+-----+----------+
|   12|      12.0|
|    1|       1.0|
|    6|       6.0|
|    3|       3.0|
|    5|       5.0|
|    9|       9.0|
|    4|       4.0|
|    8|       8.0|
|    7|       7.0|
|   10|      10.0|
|   11|      11.0|
|    2|       2.0|
+-----+----------+